<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Different Topic Bible verses and Description</h1>
  <hr />
  <% @bible.each do |bible| %>
    <div class="bible">
      <h2 class="text-left">
      <%= bible.title %> <br /></h2>
      <%= bible.verses %> &nbsp; &nbsp; &nbsp;
      <%= bible.description %>
      
      <br />
    </div>
  <% end %>
</div>
<%= link_to 'New Bible Quote', new_bible_path, class: 'btn btn-danger btn-large' %>
<br class="clr" />